{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

{% if current_user.is_authenticated %}
<div class="header">
    <h1>Hello {{current_user.username}}, you can create a new togo from the navigation menu :)</h1>
</div>
{% else %}
<div class='header'>
    <h1>Hello, welcome to the Covid-19 app! To create a togo, sign up first.</h1>
</div>
{% endif %}

<style>
    .header{
        margin-top: 100px;


    }
</style>
{% endblock %}
